<h1>New Note</h1>

<form class="" action="index.html" method="post">
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" ng-model="note.title">
  </fieldset>

  <fieldset class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" name="description" id="description" ng-model="note.description">
  </fieldset>

  <fieldset class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" type="text" name="content" id="content" ng-model="note.content"></textarea>
  </fieldset>

  <input type="submit" value="{{isSubmitting ? 'Saving...' : 'Save'}}" class="btn btn-default" ng-click="saveNote(note)" ng-disabled="isSubmitting">
</form>
